# Core functionality - changes here should be rare!
/src/app.py                   @Kazushige23
/src/backend/database.py      @Kazushige23
/src/backend/routers/auth.py  @Kazushige23

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Kazushige23
